.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 3rem;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
}
.menu__item {
}
.menu__link {
  position: relative;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2; /* 16/14 */
  color: var(--banner-text-color);
  transition: color 0.3s ease 0s;
  -webkit-transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
}
.menu__link::after {
  content: " ";
  position: absolute;
  display: block;
  margin-top: 4px;
  background-color: var(--accent-color);
  height: 2px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transition: width 0.3s ease 0s;
  -webkit-transition: width 0.3s ease 0s;
  -moz-transition: width 0.3s ease 0s;
}
.menu__link.active {
  color: var(--accent-color);
}
.menu__link.active::after {
  width: 90%;
}
.menu__link:hover {
  color: var(--accent-color);
}
