/*-----Reset style-----*/
@import url("reset.css");
/*-----Fonts------------*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@700&display=swap");
/*------Common styles----------*/
@import url("common.css");
/*--------------------*/
@import url("header.css");
/*--------------------*/
@import url("homepage.css");
/*--------------------*/
@import url("footer.css");
/*--------------------*/
@import url("post.css");
/*--------------------*/
:root {
  /* colors */
  --pure-white-color: #ffffff;
  --banner-text-color: #e5e5e5;
  --cards-text-color: #6c757d;
  --cards-title-color: #495057;
  --cards-bg-color: #343a40;
  --accent-color: #d4a373;
}
