/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: > 0.4% and not dead
*/

/*-----Fonts------------*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@700&display=swap");
:root {
  /* colors */
  --pure-white-color: #ffffff;
  --banner-text-color: #e5e5e5;
  --cards-text-color: #6c757d;
  --cards-title-color: #495057;
  --cards-bg-color: #343a40;
  --accent-color: #d4a373;
}
/*-----Reset style-----*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*======= Common styles =======*/
.hide {
  display: none !important;
}
body {
  font-family: Lora, Cambria, Constantia, "Times New Roman", serif;
  font-size: 0.75rem;
  color: var(--cards-text-color, #6c757d);
  background-color: #f8f9fa;
}
/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex: 1 1 auto;
}

/*--------------------*/
[class*="__container"] {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 0.3125rem 0.625rem;
  border: none;
  border-radius: 0.5rem;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--pure-white-color);
  background-color: rgba(255, 255, 255, 0.15);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.2;
  cursor: pointer;
  transition: background-color 0.3s ease 0s, transform 0.2s ease 0s;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button:hover,
.button:focus {
  background-color: rgba(255, 255, 255, 0.35);
}
.button:active {
  transform: scale(0.95);
}

.title-light {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.3; /* 46/36 */
  color: var(--pure-white-color);
}
.title-dark {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.3; /* 46/36 */
  color: var(--cards-title-color);
}

@media (max-width: 479.98px) {
  .title-light,
  .title-dark {
    font-size: 1.75rem;
  }
}
.text-light {
  line-height: 1.67; /* 20/12 */
}

/*======= Header styles =======*/
.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 3rem;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
}
.menu__item {
}
.menu__link {
  position: relative;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2; /* 16/14 */
  color: var(--banner-text-color);
  transition: color 0.3s ease 0s;
  -webkit-transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
}
.menu__link::after {
  content: " ";
  position: absolute;
  display: block;
  margin-top: 4px;
  background-color: var(--accent-color);
  height: 2px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transition: width 0.3s ease 0s;
  -webkit-transition: width 0.3s ease 0s;
  -moz-transition: width 0.3s ease 0s;
}
.menu__link--active {
  color: var(--accent-color);
}
.menu__link--active::after {
  width: 90%;
}
.menu__link:hover {
  color: var(--accent-color);
}

/*======= Footer styles =======*/
.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--cards-bg-color);
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 0.875rem;
  line-height: 1.3; /* 18/14 */
  color: var(--banner-text-color);
}
.footer__text {
  font-weight: 700;
  text-transform: uppercase;
}
.footer__up {
  font-weight: 400;
  transition: color 0.3s ease 0s;
  -webkit-transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
}
.footer__up:hover {
  color: var(--accent-color);
}

/*======= homepage styles =======*/
.home {
}
.home__sections {
  display: grid;
  gap: 6.25rem;
}
@media (max-width: 991.98px) {
  .home__sections {
    gap: 2rem;
  }
}

.home__main-slider {
}
.home__regular {
}
.home__big-post {
}
.home__related {
}
/* ------------------------- */
.main-slider {
  min-width: 0;
}
.swiper {
  width: 100%;
}
.main-slider__wrapper {
  display: flex;
}

.main-slider__slide {
  min-height: 100vh;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  background-color: var(--cards-bg-color);
}
.main-slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.8;
}
.main-slider__container {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.9375rem;
  padding-top: 6rem;
  padding-bottom: 8.75rem;
}
.main-slider__link {
  position: relative;
  z-index: 2;
}
.main-slider__title {
  max-width: 33.125rem;
}
.main-slider__body {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  color: var(--banner-text-color);
}
.main-slider__date {
  display: flex;
  align-items: center;
  gap: 0.6875rem;
}
.main-slider__date::after {
  content: "";
  width: 1.875rem;
  height: 0.0625rem;
  background-color: var(--banner-text-color);
}
.main-slider__text {
  max-width: 26.25rem;
}

.main-slider__bullets {
}
.bullets {
  position: relative;
  z-index: 2;
  margin-top: -8.75rem;
}
.bullets__container {
}
.bullets__items {
  display: flex;
  align-items: center;
  height: 8.75rem;
  gap: 0.625rem;
}

.bullets__items .swiper-pagination-bullet {
  flex: 0 0 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--pure-white-color);
  opacity: 0.2;
  transition: opacity 0.3s ease 0s;
  cursor: pointer;
}
.bullets__items .swiper-pagination-bullet-active {
  opacity: 1;
}
@media (max-width: 479.98px) {
  .main-slider__container {
    padding-top: 4rem;
  }
  .bullets__items {
    justify-content: center;
    gap: 1.5rem;
  }
}
/* ------------------------- */
.regular {
}
.regular__container {
}
.regular__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.8125rem;
}
.regular__title {
}
.regular__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1.25rem;
  row-gap: 0.5rem;
}
.nav-regular {
}
.nav-regular__cat {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.79;
  color: var(--cards-title-color);
  transition: color 0.3s ease 0s;
  -webkit-transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
}
.nav-regular__cat::after {
  content: " ";
  position: absolute;
  display: block;
  margin-top: 2px;
  background-color: var(--accent-color);
  height: 2px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transition: width 0.3s ease 0s;
  -webkit-transition: width 0.3s ease 0s;
  -moz-transition: width 0.3s ease 0s;
}
.nav-regular__cat.active {
  color: var(--accent-color);
}
.nav-regular__cat.active::after {
  width: 100%;
}
.nav-regular__cat:hover {
  color: var(--accent-color);
}

.regular__content {
}
.regular__tab {
  display: none;
}
.regular__tab.active {
  display: block;
}

.regular__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  column-gap: 1.25rem;
  row-gap: 3.125rem;
}
.regular__item {
}
.item-regular {
  position: relative;
  display: grid;
  gap: 15px;
  align-content: start;
}
.item-regular__cat {
  position: absolute;
  z-index: 2;
  top: 1.25rem;
  right: 1.25rem;
}

.item-regular__image {
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 90.322581%; /* 280/310 */
  border-radius: 5px;
  background-color: var(--cards-bg-color);
  transition: transform 0.3s ease 0s;
}
.item-regular__image img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.5s ease 0s;
}
.item-regular__image:hover img {
  transform: scale(1.03);
}
.item-regular__image:active {
  transform: scale(0.97);
}
.item-regular__date {
}
.item-regular__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.39;
}
.item-regular__title-link {
  color: var(--cards-title-color);
  transition: color 0.2s ease 0s;
}
.item-regular__title-link:hover {
  color: var(--accent-color);
}
.item-regular__text {
  line-height: 1.67;
}
@media (max-width: 767.98px) {
  .regular__header {
    margin-bottom: 1.5rem;
    flex-direction: column;
  }
  .regular__nav {
    column-gap: 1rem;
  }
}
@media (max-width: 479.98px) {
  .item-regular {
    gap: 0.5rem;
  }
}

/* ------------------------- */

.big-post {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}
.big-post__container {
  position: relative;
  z-index: 2;
  display: grid;
  justify-items: center;
  gap: 0.8125rem;
}
.big-post__cat {
}
.big-post__title {
  max-width: 33.125rem;
}
.big-post__title-link {
  color: var(--pure-white-color);
  transition: color 0.2s ease 0s;
}
.big-post__title-link:hover {
  color: var(--accent-color);
}
.big-post__text {
  max-width: 26.25rem;
  line-height: 1.67;
  color: var(--banner-text-color);
}
.big-post__author {
  font-weight: 700;
  line-height: 1.67;
  color: var(--pure-white-color);
  transition: color 0.2s ease 0s;
}
.big-post__author:hover {
  color: var(--accent-color);
}
.big-post__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--cards-bg-color);
}
.big-post__bg img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

/* ------------------------- */

.related {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
@media (max-width: 767.98px) {
  .related {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.related__container {
}
.related__title {
  margin-bottom: 2.8125rem;
}
.related__items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}
.related__item {
}
.item-related {
  border-radius: 0.3125rem;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease 0s;
}
.item-related__cat {
  position: absolute;
  z-index: 3;
  top: 1.25rem;
  right: 1.25rem;
}
.item-related__content {
  position: relative;
  z-index: 2;
  padding: 2.5rem;
  display: grid;
  align-content: end;
  min-height: 21.875rem;
  gap: 0.9375rem;
  color: var(--banner-text-color);
  transition: transform 0.2s ease 0s;
}
.item-related__date {
}
.item-related__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.39;
  color: var(--pure-white-color);
  transition: color 0.2s ease 0s;
}
.item-related__title:hover {
  color: var(--accent-color);
}

.item-related__text {
  line-height: 1.67;
}
.item-related__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--cards-bg-color);
  transition: transform 0.3s ease 0s;
}
.item-related__image img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: transform 0.5s ease 0s;
}
.item-related:hover .item-related__image img {
  transform: scale(1.03);
}
.item-related__content:active {
  transform: scale(0.98);
}
@media (max-width: 991.98px) {
  .related__items {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
@media (max-width: 767.98px) {
  .related__title {
    margin-bottom: 1rem;
  }
}
@media (max-width: 479.98px) {
  .related__items {
    grid-template-columns: auto;
  }
  .item-related__content {
    padding: 1rem;
    min-height: 15rem;
  }
}
/* ------ animation ---- */
/* --- on-load animation ---- */
.main-slider__link,
.main-slider__title,
.main-slider__body {
  transform: translate(3rem, 3rem);
  opacity: 0;
  transition: transform 0.8s, opacity 0.8s;
}

.loaded .main-slider__link {
  transition-delay: 0.5s;
}

.loaded .main-slider__title {
  transition-delay: 0.7s;
}

.loaded .main-slider__body {
  transition-delay: 0.9s;
}

.loaded .main-slider__link,
.loaded .main-slider__title,
.loaded .main-slider__body {
  transform: translate(0, 0);
  opacity: 1;
}
/* --- on-scroll animation ---- */
[data-animated] {
  transform: translate(2rem, 2rem);
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s;
}

[data-animated].active {
  transform: translate(0, 0);
  opacity: 1;
}

/*======= post styles =======*/
.post__big-post {
}
/* ------------------------- */
.post__content {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.post__container {
  display: grid;
  align-items: start;
  grid-template-columns: 12.5rem 1fr 12.5rem;
  gap: 2.1875rem;
}
.post__info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  line-height: 2;
  color: var(--cards-title-color);
}
.post__date {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.post__date::after {
  content: "";
  height: 0.0625rem;
  width: 2.1875rem;
  background-color: #c4c4c4;
}
.post__duration {
}
.post__body {
}
.post__text {
  font-size: 0.875rem;
  line-height: 1.79;
  color: var(--cards-title-color);
}
.post__text span {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 127.777778%; /* 46/36 */
  color: var(--accent-color);
}
.post__text p:not(:last-child) {
  margin-bottom: 3.125rem;
}
.post__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
  border-bottom: 0.5px solid #c4c4c4;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.post__tag {
  border: 1px solid var(--banner-text-color);
  color: var(--cards-text-color);
}
.post__tag:hover {
  background-color: var(--banner-text-color);
}
.post__author {
}
.author {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-top: 3.125rem;
}
.author__avatar {
  flex: 0 0 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.author__body {
}
.author__name {
  font-weight: 700;
  line-height: 1.67;
  color: var(--cards-bg-color);
  transition: color 0.3s ease 0s;
}
.author__name:hover {
  color: var(--accent-color);
}
.author__skills {
  line-height: 1.67;
}
@media (max-width: 1200px) {
  .post__container {
    grid-template-columns: 12.5rem 1fr 5rem;
  }
}
@media (max-width: 991.98px) {
  .post__content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .post__container {
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
  }
  .post__info {
    flex-direction: column;
    align-items: flex-start;
  }
  .post__date {
    flex-direction: column;
  }
  .post__text p:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .post__text span {
    font-size: 1.8rem;
  }
}
@media (max-width: 479.98px) {
  .post__content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .post__container {
    grid-template-columns: auto;
    gap: 1rem;
  }
  .post__info {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .post__date {
    flex-direction: row;
  }
  .post__text p:not(:last-child) {
    margin-bottom: 1rem;
  }
  .post__text span {
    font-size: 1.5rem;
  }
  .post__text {
    text-indent: 20px;
  }
  .post__tags {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .author {
    margin-top: 1.5rem;
  }
}

/* ------------------------- */
.post__related {
  background-color: rgba(229, 229, 229, 0.3);
}

/* ------ animation ---- */
/* --- on-load animation ---- */
.big-post__cat-wrapper,
.big-post__title--animated,
.big-post__text--animated {
  transform: translate(3rem, 3rem);
  opacity: 0;
  transition: transform 0.8s, opacity 0.8s;
}

.loaded .big-post__cat-wrapper {
  transition-delay: 0.5s;
}

.loaded .big-post__title--animated {
  transition-delay: 0.7s;
}

.loaded .big-post__text--animated {
  transition-delay: 0.9s;
}

.loaded .big-post__cat-wrapper,
.loaded .big-post__title--animated,
.loaded .big-post__text--animated {
  transform: translate(0, 0);
  opacity: 1;
}
